#pragma code_page(65001) // UTF-8

#include "winres.h"
#include "Version.h"

VS_VERSION_INFO VERSIONINFO FILEVERSION SAVE_FIXER_MAJOR_VERSION_NUMBER, SAVE_FIXER_MINOR_VERSION_NUMBER, SAVE_FIXER_PATCH_VERSION_NUMBER, 0
 PRODUCTVERSION SAVE_FIXER_MAJOR_VERSION_NUMBER,SAVE_FIXER_MINOR_VERSION_NUMBER,SAVE_FIXER_PATCH_VERSION_NUMBER,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080904b0"
        BEGIN
            VALUE "FileDescription", "Program for fixing the practice driver bug in Motorsport Manager save files"
            VALUE "FileVersion", SAVE_FIXER_VERSION_STRING ".0"
            VALUE "InternalName", "MMPracticeDriverFixer.exe"
            VALUE "LegalCopyright", "Copyright (C) 2022"
            VALUE "OriginalFilename", "MMPracticeDriverFixer.exe"
            VALUE "ProductName", "Motorsport Manager Practive Driver Fixer"
            VALUE "ProductVersion", SAVE_FIXER_VERSION_STRING ".0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x809, 1200
    END
END
